 html { height: 100% }
 body { height: 100%; margin: 0; padding: 0; font-family: Verdana; font-size:8px;}

 #map-canvas { height: 100% }
 #bandeau {
 	height:250px;
 	width: 100%;
 	background-color:black;
 	text-align: center;
 }

 #mapbody {
 	min-width: 980px;
 	width: 100%;
 	height: calc(100% - 240px);
 	background-color: red;
 }

 #map_canvas {
 	height:100%;
 	width: 100%;
 }
 #title_bandeau  {
 	color:#FFFFFF;
 	text-align: center;
 }

 #volet_lbm {
 	width: 250px;

 	position: absolute;
 	z-index:5;
 	margin-left:90px;
 	margin-top:50px;
	padding: 10px;
 }


#volet_body {
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
}

.ui-widget-content {
	background-color: black;
	background-image: none;
}
