#bandeau {
   display: none;
}

#mapbody {
    min-width: 900px;
    max-width: 900px;
    width: 900px;
    height: 100%;
}

#volet_lbm {
    width: 238px;
    margin-left: 72px;
    margin-top: -7px;
    padding: 10px;
}

h4{
    margin-top: 4px;
    margin-bottom: 8px;
}